[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncmy = "*"
cryptography = "*"

[dev-packages]
black = "*"
ward = "*"
docker = "*"
tenacity = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
